
# local/generated
/data/features/

# python cache
__pycache__/
*.pyc

# junk
__pycache__/
scripts/__pycache__/
official/



# big data (never commit)

ego4d_data/

ego4d_assets/features/

*.mp4

*.pt

*.npy

*.lmdb

